<h1> <%= @user.name %> Rocks! </h1>
<% if current_user == @user %>
	<%= form_for(@micropost) do |f| %>
		<%= f.text_area :content, placeholder: "Tell me something..." %>
		<%= f.submit "Post", class: "btn btn-large btn-primary" %>
	<% end %>
<% end %>

<% @microposts.each do |mp| %>
	<%= mp.content %>
<% end %>


<%= current_user.microposts.class %>